// Utilities Colors
//Colors
.tc-primary     { color: $primary !important; }
.tc-black       { color: $black !important; }
.tc-grey        { color: $grey !important; }
.tc-grey-2      { color: $grey-2 !important; }
.tc-white       { color: $white !important; }

//Background Colors
.bgc-primary    { color: $primary !important; }
.bgc-black      { color: $black !important; }
.bgc-grey       { color: $black-2 !important; }
.bgc-white      { color: $white !important; }
