// Utilities Spacing
.m0         { margin:           0 !important; }
.mt0        { margin-top:       0 !important; }
.mr0        { margin-right:     0 !important; }
.mb0        { margin-bottom:    0 !important; }
.ml0        { margin-left:      0 !important; }

.m          { margin:           $base-spacing-unit !important; }
.mt         { margin-top:       $base-spacing-unit !important; }
.mr         { margin-right:     $base-spacing-unit !important; }
.mb         { margin-bottom:    $base-spacing-unit !important; }
.ml         { margin-left:      $base-spacing-unit !important; }

.m\+        { margin:           $base-spacing-unit * 2 !important; }
.mt\+       { margin-top:       $base-spacing-unit * 2 !important; }
.mr\+       { margin-right:     $base-spacing-unit * 2 !important; }
.mb\+       { margin-bottom:    $base-spacing-unit * 2 !important; }
.ml\+       { margin-left:      $base-spacing-unit * 2 !important; }

.p0         { padding:          0 !important; }
.pt0        { padding-top:      0 !important; }
.pr0        { padding-right:    0 !important; }
.pb0        { padding-bottom:   0 !important; }
.pl0        { padding-left:     0 !important; }

.p          { padding:          $base-spacing-unit !important; }
.pt         { padding-top:      $base-spacing-unit !important; }
.pr         { padding-right:    $base-spacing-unit !important; }
.pb         { padding-bottom:   $base-spacing-unit !important; }
.pl         { padding-left:     $base-spacing-unit !important; }

.p\+        { padding:          $base-spacing-unit * 2 !important; }
.pt\+       { padding-top:      $base-spacing-unit * 2 !important; }
.pr\+       { padding-right:    $base-spacing-unit * 2 !important; }
.pb\+       { padding-bottom:   $base-spacing-unit * 2 !important; }
.pl\+       { padding-left:     $base-spacing-unit * 2 !important; }